<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quis
      perferendis id soluta unde voluptatum pariatur doloremque aspernatur,
      quaerat amet.
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Bilal Wehbe</h3>
          <p class="quote__organization">
            AW Company CEO
          </p>
        </div>
      </div>
    </footer>
  </blockquote>